In [4]:
import pandas as pd

# Creating a DataFrame with the data from the table
data = {
    'Star': ['HR7235', 'HR7235', 'HR7235', 'HR7235', 
             'HR7298', 'HR7298', 'HR7298', 'HR7298', 
             'HR7377', 'HR7377', 'HR7377', 'HR7377', 
             'HR7387', 'HR7387', 'HR7387', 'HR7387',
             'HR7405', 'HR7405', 'HR7405', 'HR7405', 
             'HR7478', 'HR7478', 'HR7478', 'HR7478'],
    'N_V': [1.49e7, 1.42e7, 1.32e7, 1.05e7,
            4.65e6, 4.33e6, 3.21e6, 3.61e6,
            1.04e7, 9.60e6, 8.33e6, 6.91e6,
            3.24e6, 2.82e6, 2.38e6, 1.91e6,
            3.92e6, 3.81e6, 3.45e6, 2.56e6,
            3.12e6, 3.12e6, 2.96e6, 2.38e6],
    'N_B': [4.90e7, 4.37e7, 4.03e7, 2.74e7,
            1.94e7, 1.79e7, 1.11e7, 1.24e7,
            2.82e7, 2.40e7, 1.97e7, 1.45e7,
            7.42e6, 5.67e6, 4.53e6, 3.01e6,
            4.37e6, 4.17e6, 3.58e6, 2.23e6,
            5.47e6, 5.52e6, 4.96e6, 3.42e6],
    'LST': ['19 29.6', '22 18.6', '23 10.2', '00 09.4',
            '19 32.8', '22 22.0', '23 13.6', '01 15.2',
            '19 36.0', '22 25.6', '23 17.1', '00 02.1',
            '19 39.5', '22 29.1', '23 21.0', '00 05.9',
            '19 43.1', '22 32.8', '23 24.4', '01 19.0',
            '19 46.9', '22 36.7', '23 28.7', '01 23.1']
}

df = pd.DataFrame(data)
df

      Star         N_V         N_B      LST
0   HR7235  14900000.0  49000000.0  19 29.6
1   HR7235  14200000.0  43700000.0  22 18.6
2   HR7235  13200000.0  40300000.0  23 10.2
3   HR7235  10500000.0  27400000.0  00 09.4
4   HR7298   4650000.0  19400000.0  19 32.8
5   HR7298   4330000.0  17900000.0  22 22.0
6   HR7298   3210000.0  11100000.0  23 13.6
7   HR7298   3610000.0  12400000.0  01 15.2
8   HR7377  10400000.0  28200000.0  19 36.0
9   HR7377   9600000.0  24000000.0  22 25.6
10  HR7377   8330000.0  19700000.0  23 17.1
11  HR7377   6910000.0  14500000.0  00 02.1
12  HR7387   3240000.0   7420000.0  19 39.5
13  HR7387   2820000.0   5670000.0  22 29.1
14  HR7387   2380000.0   4530000.0  23 21.0
15  HR7387   1910000.0   3010000.0  00 05.9
16  HR7405   3920000.0   4370000.0  19 43.1
17  HR7405   3810000.0   4170000.0  22 32.8
18  HR7405   3450000.0   3580000.0  23 24.4
19  HR7405   2560000.0   2230000.0  01 19.0
20  HR7478   3120000.0   5470000.0  19 46.9
21  HR7478   3120000.0   5520000.0  22 36.7
22  HR7478   2960000.0   4960000.0  23 28.7
23  HR7478   2380000.0   3420000.0  01 23.1

In [5]:
import numpy as np

# Latitude of the Toronto Observatory in radians
latitude_deg = 43 + 52 / 60  # Degrees
latitude_rad = np.radians(latitude_deg)

# Sample RA and Dec for the stars (can be replaced with real values from catalogs)
# These are just example RA and Dec values for HR stars (in degrees)
ra_deg = {
    'HR7235': 294.67,
    'HR7298': 297.42,
    'HR7377': 300.12,
    'HR7387': 302.84,
    'HR7405': 305.56,
    'HR7478': 308.29
}
dec_deg = {
    'HR7235': +31.18,
    'HR7298': +32.12,
    'HR7377': +33.24,
    'HR7387': +34.13,
    'HR7405': +35.05,
    'HR7478': +36.28
}

# Function to convert LST (hh mm format) to decimal hours
def lst_to_decimal_hours(lst_str):
    hh, mm = map(float, lst_str.split())
    return hh + mm / 60

# Function to calculate hour angle (HA)
def calculate_hour_angle(lst, ra):
    lst_hours = lst_to_decimal_hours(lst)
    ha = lst_hours * 15 - ra  # Convert LST from hours to degrees
    return ha

# Function to calculate zenith distance (Z) and airmass (X)
def calculate_airmass(ha_deg, dec_deg, latitude_rad):
    ha_rad = np.radians(ha_deg)  # Convert HA to radians
    dec_rad = np.radians(dec_deg)  # Convert Dec to radians
    
    # Calculate cos(Z)
    cos_z = np.sin(latitude_rad) * np.sin(dec_rad) + np.cos(latitude_rad) * np.cos(dec_rad) * np.cos(ha_rad)
    
    # Calculate airmass (X)
    if cos_z > 0:  # Avoid division by zero for extreme zenith distances
        z_rad = np.arccos(cos_z)
        airmass = 1 / np.cos(z_rad)
    else:
        airmass = np.inf  # Object is below horizon
    
    return airmass

# Calculating Hour Angle and Airmass for each star
lst_data = {
    'HR7235': '19 29.6',
    'HR7298': '19 32.8',
    'HR7377': '19 36.0',
    'HR7387': '19 39.5',
    'HR7405': '19 43.1',
    'HR7478': '19 46.9'
}

airmasses = {}

for star, lst in lst_data.items():
    ha = calculate_hour_angle(lst, ra_deg[star])
    airmass = calculate_airmass(ha, dec_deg[star], latitude_rad)
    airmasses[star] = airmass

airmasses

{'HR7235': 1.0255341068655077,
 'HR7298': 1.023120597774105,
 'HR7377': 1.021019687975874,
 'HR7387': 1.0205766355131114,
 'HR7405': 1.0208272114338568,
 'HR7478': 1.0209843070935076}

In [6]:
from scipy.optimize import curve_fit

# Function to model the Beer-Lambert law
def extinction_model(airmass, m0, k):
    return m0 + k * airmass

# Convert photon counts to instrumental magnitudes
df['m_V'] = -2.5 * np.log10(df['N_V'])
df['m_B'] = -2.5 * np.log10(df['N_B'])

# Airmasses calculated earlier
df['airmass'] = df['Star'].map(airmasses)

# Fit the extinction coefficient for the V filter
popt_V, _ = curve_fit(extinction_model, df['airmass'], df['m_V'])
m0_V, k_V = popt_V

# Fit the extinction coefficient for the B filter (for color index B-V)
popt_B, _ = curve_fit(extinction_model, df['airmass'], df['m_B'])
m0_B, k_B = popt_B

# Calculate the B-V extinction coefficient (difference between k_B and k_V)
k_BV = k_B - k_V

k_V, k_BV

(-259.0269877905478, -169.48363449682785)

In [7]:
# Target star data from the provided table (Table 1)
target_star_data = {
    'RA': 19 + 34.1 / 60,  # Convert RA from hh mm to decimal degrees
    'Dec': 31 + 18 / 60,  # Convert Dec from degrees to decimal degrees
    'N_V': 3.56e5,
    'N_B': 7.70e5,
    'LST': '19 52'  # Local Sidereal Time
}

# Calculate the airmass for the target star
ha_target = calculate_hour_angle(target_star_data['LST'], target_star_data['RA'] * 15)  # Convert RA to degrees
airmass_target = calculate_airmass(ha_target, target_star_data['Dec'], latitude_rad)

# Convert photon counts to instrumental magnitudes for the target star
m_V_target = -2.5 * np.log10(target_star_data['N_V'])
m_B_target = -2.5 * np.log10(target_star_data['N_B'])

# Correct the magnitudes using the extinction coefficients
m_V_corrected = m_V_target - k_V * airmass_target
m_B_corrected = m_B_target - (k_V + k_BV) * airmass_target

m_V_corrected, m_B_corrected, airmass_target

(252.01765055928666, 425.1583185906794, 1.0265195832382747)

In [8]:
# Define the transition relations for the V and B-V magnitudes
# (V - v0) = β + γ(b - v)_0
# (B - V) = η + ε(b - v)_0

# We need to fit the standard stars to determine the coefficients

# Instrumental B-V color index for the standard stars
df['B-V'] = df['m_B'] - df['m_V']

# Transition model for (V - v0)
def transition_V(BV, beta, gamma):
    return beta + gamma * BV

# Transition model for (B - V)
def transition_BV(BV, eta, epsilon):
    return eta + epsilon * BV

# Fit the coefficients for the transition to the Johnson system
popt_V_transition, _ = curve_fit(transition_V, df['B-V'], df['m_V'])
popt_BV_transition, _ = curve_fit(transition_BV, df['B-V'], df['B-V'])

beta, gamma = popt_V_transition
eta, epsilon = popt_BV_transition

# Apply the transition to the target star
BV_target = m_B_corrected - m_V_corrected
V_johnson = beta + gamma * BV_target
BV_johnson = eta + epsilon * BV_target

V_johnson, BV_johnson  # These are the target star's magnitudes in the Johnson system

/var/folders/x8/tt4g51ms52n_rxzkb66gyznh0000gn/T/ipykernel_29945/1135188077.py:20: OptimizeWarning: Covariance of the parameters could not be estimated
  popt_BV_transition, _ = curve_fit(transition_BV, df['B-V'], df['B-V'])

(111.84626863247625, 173.1406680310427)